/*
Color Palette
	brown - #4E342E
	yellow - #FDD835
	dark grey - #212121
	green - #43A047
	
	* Board Spaces *
	opportunity - green^
	fast track oppurtunity - brown^
	liability - #83A296
	charity - #00BCD4
	offer - #0277BD
	payday - yellow^
	downsize - #D32F2F
	dream - #2AEEBF
*/

@viewport {
    width: device-width;
    zoom: 1.0;
}

/* @-ms-viewport, 
@-webkit-viewport {
    width: device-width;
}

@media screen and (max-width: 320px) {
    body {
        width: 120px;
		height: 1800px
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    body {
        width: 320px;
		height: 1800px;
    }
} */

@media screen and (min-width: 481px) {
    body {
        width: 480px;
		height: 1800px;
    }
}

body {
    /* width: 1345px; */
    width: 100%;
    height: 100%;
    margin: auto;
}

#window {
    /* width: 99.5%; */
    display: fixed;
    margin: auto;
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    border-radius: 5px;
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

#home-screen {
    padding: 0;
    display: block;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: lato;
}

#home-title {
    font-size: 125px;
    font-family: 'lato', serif;
    text-align: center;
    color: rgb(240, 202, 0);
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #c2a500;
}

#version {
    opacity: .75;
    float: right;
    font-size: 1em;
    color: #37474F;
}

#click-to-start {
    text-align: center;
    padding-top: 20%;
    z-index: -1;
    font-size: 2.2em;
    /* color: #37474F; */
    color: #ffffff;
    /* text-shadow: 1px 1px 1px #607D8B; */
    text-shadow: 1px 1px 1px rgb(1, 3, 14, .75) ;
    animation: blinker 1.9s linear infinite;
    animation-delay: 3s;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#game-selection-screen,
#game-setup-screen,
#setup-screen,
#turn-info-box {
    display: none;
}
#game-selection-screen {
    font-size: 40px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
}
#new-room-button {
    height: 145px;
    width: 445px;
    font-size: 48px;
    font-family: 'lato';
    border-radius: 20px;
    background-color: #FDD835;
    outline: none;
    color: white;
    font-weight: bold;
    text-shadow: .8px .8px 1px #4E342E;
    margin: 9% 33%;
}
#setup-screen {
    color: white;
    display: none;
    /* background-image: url('https://res.cloudinary.com/roden/image/upload/v1500650764/Ny/pexels-photo-499616_sljyii.jpg'); */
    width: 100%;
    height: 100%;
}

#setup-container {
    margin: auto;
    padding: 4% 0;
    width: 85%;
    height: 1100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player-setup-container {
    box-shadow: 0px 0px 5px 0px rgb(253, 216, 53, .25);

    border-radius: 20px;
    /*border: 3pt ridge #FDD835;*/
    color: #FAFAFA;
    /* background-color: #282b2c; */
    background-color: rgb(40, 53, 39, .5);
    padding: 3% 2%;
    box-sizing: border-box;
    /* display: inline-block; */
    width: 50%;
    min-width: fit-content;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player-setup-input-container {
    margin: auto;
}
.player-input-container {
	display: inline-block;
	text-shadow: .9px .9px .9px #212121;
}
.player-input {
    font-family: 'roboto';
    font-size: 1.25em;
    margin: 3% auto;
    /* padding-right: 4px; */
    display: flex;
    align-items: center;
    /* transform: rotate(90deg); */
    display: flex;
	text-shadow: .9px .9px .9px #212121;
}

/* Insurance */
.player-options-checkbox {
	display: flex;
    align-items: center;
    margin: auto;
    /* position: relative;
    padding-left: 35px;
	padding-bottom: 2.2%;
    margin-bottom: 3.5%; */
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.player-options-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.player-option-dropdowns {
    width: 25%;
    margin: 0 auto;
}

/* Player Job Selection */
.job-input {
	padding: 3px 0;
    width: 95%;
	font-size: .7em;
	margin: 5px auto;
	color: #FDD835;
	background-color: #4E342E;
	font-family: lato;
}
.job-input option {
    /*font-family: .6em;*/
}

/* Player Color Selection */
.color-input {
    display: inline-block;
}

.green-option {
    background: green;
    color: white;
}

/* Player Number Selection */
#player-number-option {
    font-weight: 500;
    font-size: 1.2em;
    width: 90%;
    height: 90%;
    text-shadow: .8px .8px 1px #212121;
    text-align: center;
    margin: 0 5%;
}
.player-number-option {
	font-family: lato;
	text-shadow: .8px .8px 1px #212121;
}
#player-number {
    box-shadow: 0px 0px 2px 2px white;
    background-color: #FDD835;
    height: 30px;
    width: 40px;
    font-size: 1em;
    color: #4E342E;
    /*border: 1pt ridge white;*/
    border-radius: 5px;
}

/* Insurance Option */
.player-input-checkmark {
    /* position: absolute;
    top: -6px;
    left: 10px;
    height: 28px;
    width: 120px; 
	margin: auto; */
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #eee;
	color: #4E342E;
	text-align: center;
	padding: 5px 12px 5px 12px;
	background-color: white;
	font-family: Montserrat;
	font-weight: bold;
	border-radius: 5px;
	text-shadow: .2px .2px .3px #4E342E;
	box-shadow: .8px .8px .8px #212121;
}
.player-input-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.player-options-checkbox:hover input~.player-input-checkmark {
    background-color: #FFFBB9;
	box-shadow: 1px 1px 1px #0277BD;
}
.player-options-checkbox input:checked~.player-input-checkmark {
    background-color: #FDD835;
	color: white;
	text-shadow: .2px .2px .3px #4E342E;
	box-shadow: .8px .8px .8px #212121;
}
.player-options-checkbox input:checked~.player-input-checkmark:after {
    
}
.player-options-checkbox .player-input-checkmark:after {
    /* left: 9px;
    top: 5px;
    width: 5px;
    height: 10px; */
    margin: auto;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.player-options-checkbox label {
    width: 25%;
}

/* Player Color Picker */

#options-container {
    padding: 25px;
    display: block;
    background-color: white;
    box-shadow: 0px 0px 2px 2px #fdd83533;
    border-radius: 8px;
    /*border: 3pt ridge #FDD835;*/
    color: #4E342E;
    width: fit-content;
    /* float: right; */
}
.options-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.options-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.options-checkbox:hover input~.checkmark {
    background-color: #ccc;
}
.options-checkbox input:checked~.checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.options-checkbox input:checked~.checkmark:after {
    display: block;
}
.options-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#asset-deck-selection,
#other-options,
#one-deal-option {
    display: inline-block;
    font-family: 'lato';
}

#mode-indicator-container {
    width: 56%;
    margin: auto;
}

#default-game-indicator,
#custom-game-indicator {
    display: inline-block;
    font-size: 1.8em;
    width: 40%;
    height: 90%;
    text-shadow: 1px 1px 1px #4E342E;
    padding: 5% 6% 0 6%;
    font-family: Roboto;
}

#default-game-indicator {
    outline: none;
    background-color: white;
    border: none;
    text-decoration: none;
}

.sso-slidecontainer {
    width: 90%;
}

.sso-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sso-slider:hover {
    opacity: 1;
}

.sso-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25%;
    height: 25px;
    background: #212121;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
}

.sso-slider::-moz-range-thumb {
    width: 25%;
    height: 25px;
    background: #212121;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
}

#start-game {
	position: relative;
    margin: auto; 
    padding: 5% 2%;
    border-radius: 20px;
    background-color: #43A047;
    outline: none;
    font-size: 2em;
    font-family: 'lato';
    text-shadow: 1px 1px 1px #212111;
    color: white;
    font-weight: 600;
    display: inline-block;
	
}
#continue-game {
    position: relative;
    margin: auto;
    padding: 6% 2%;
    border-radius: 20px;
    background-color: #FDD835;
    outline: none;
    font-size: 2em;
    font-family: 'lato';
    text-shadow: 1px 1px 1px #212111;
    color: white;
    font-weight: 600;
    display: none;
}
#delete-save {
    outline: none;
    color: white;
    font-weight: 600;
    display: none;
    padding: 1% 12%;
    background-color: #212121;
    opacity: .6;
}

#player1name,
#player2name,
#player3name,
#player4name,
#player5name,
#player6name,
#player7name,
#player8name {
    font-family: 'roboto';
    font-size: 14pt;
    width: 142px;
    padding: 4px 8px;
    font-weight: 600;
    color: #4e342e;
	box-shadow: .8px .8px .8px #212111;
}

#board-container {
    margin: auto;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
}

#board {
    display: none;
    margin: auto;
    border: 1pt solid white;
    width: 100%;
	height: 98%;
}

#board2 {
    display: none;
    margin: auto;
    border: 1pt solid white;
    width: 100%;
	/*height: 1000px;*/
    border-radius: 5px;
}
.cell {
    position: relative;
	border: 2pt solid white;
	border-radius: 4px;
    top: 0px;
    left: 0px;
    color: white;
    height: 88px;
    width: 13%;
    font-size: 0.7em;
    letter-spacing: .2pt;
    text-align: center;
    box-shadow: .2px .2px .2px .2px #4E342E;
	margin: auto;
}

.cell2 {
    position: absolute;
	border: 2px outset #FDD835;
    top: 0px;
    left: 0px;
    padding: 0px;
    color: white;
    height: 75px;
    font-size: 8pt;
    letter-spacing: .2pt;
    text-align: center;
    box-shadow: .2px .2px .2px .2px #4E342E;
	border-radius: 7px;
}

.cell2-left {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    color: white;
    height: 88px;
    width: 10%;
    font-size: 8pt;
    letter-spacing: .2pt;
    text-align: center;
	border: 2pt outset #FDD835;
	border-radius: 7px;
    box-shadow: .2px .2px .2px .2px #4E342E;
}

.cell2-right {
    position: relative;
	margin: 2px;
    top: 0px;
    right: 0px;
    padding: 0px;
    color: white;
    height: 88px;
    width: 10%;
    font-size: 8pt;
    letter-spacing: .2pt;
    text-align: center;
	border: 2pt outset #FDD835;
	border-radius: 7px;
    box-shadow: .2px .2px .2px .2px #4E342E;
}

.cell2-top {
	position: absolute;
	margin: 2px;
    top: 0px;
    left: 0px;
    padding: 0px;
    color: white;
    height: 75px;
    font-size: 8pt;
    letter-spacing: .2pt;
    text-align: center;
    box-shadow: .2px .2px .2px .2px #4E342E;
    border: 2pt solid #FDD835;
}

.cell2-bottom {
	position: absolute;
	margin: 2px;
    top: 0px;
    left: 0px;
    padding: 0px;
    color: white;
    height: 75px;
    font-size: 8pt;
    letter-spacing: .2pt;
    text-align: center;
	border: 2pt solid #FDD835;
	border-radius: 7px;
    box-shadow: .2px .2px .2px .2px #4E342E;
}

.cell2-center {
    padding: 2px;
    color: #01030e;
    border: 2pt solid white;
}

.cellx {
	position: absolute;
    bottom: 0;
	padding-bottom: 20px;
    height: 20px;
	width: 90%;
	margin: 0 auto;
    text-align: center;
    font-weight: 550;
    letter-spacing: 1px;
}
.cellx p {
	font-weight: bold;
}
.cellx2 {
    position: absolute;
    bottom: 0;
    padding: 1.5px;
    height: 70px;
    width: 96%;
    text-align: center;
    font-family: "lato";
}
#cell209 {
	width: 72px;
}
#cell224 {
    opacity: .75;
    /*background-color: #c20ba3;*/
    background: rgb(252,70,107);
background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(72,0,91,1) 100%);
}
#cell210, #cell230, #cell218, #cell238{
	font-size: 10pt;
	border: 3px outset white;
	border-radius: 8px;
	width: 95px;
}
#cell201, #cell202, #cell207, #cell214, #cell221, #cell224, #cell227, #cell234 {
	border-color: white;
}

.board-top {
    position: relative;
}
.board-bot {
    position: relative;
}
.board-top2 {
    position: relative;
	width: 74px;
}
.board-top2-pay {
    position: relative;
	width: 102px;
}
.board-bot2 {
    position: relative;
}
.fast-track-cell-info {
    /*height: 80px;*/
	width: 100%;
    padding: 0;
    font-size: 9px;
}

.fast-track-space-title {
    font-weight: 700;
    letter-spacing: 1px;
}

#tokenSection0,
#tokenSection1,
#tokenSection2,
#tokenSection3,
#tokenSection4,
#tokenSection5,
#tokenSection6,
#tokenSection7,
#tokenSection8,
#tokenSection9,
#tokenSection10,
#tokenSection11,
#tokenSection12,
#tokenSection13,
#tokenSection14,
#tokenSection15,
#tokenSection16,
#tokenSection17,
#tokenSection18,
#tokenSection19,
#tokenSection20,
#tokenSection21,
#tokenSection22,
#tokenSection23 {
    display: block;
	margin: auto;
	z-index: 3;
	height: 70%;
    width: 90%;
	padding: 20px 2px;
}

#player1-piece,
#player2-piece,
#player3-piece,
#player4-piece,
#player5-piece,
#player6-piece,
#player7-piece,
#player8-piece {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    box-shadow: 0 0 0 0;
    position: relative;
    text-align: center;
    color: gold;
    font-weight: bold;
    font-size: 7pt;
    z-index: 3;
    position: sticky;
    border-radius: 50%;
    /*border: 1.5pt ridge gold;*/
    box-shadow:  0px 0px 4px rgba(255, 217, 0, 0.932);
    line-height: 2.25;
}

#player1-piece {
    background: rgb(20,232,85);
    background: radial-gradient(circle, rgba(20,232,85,1) 0%, rgba(38,85,66,1) 55%, rgba(15,66,46,1) 97%);
    }
#player2-piece {
    background: rgb(232,20,20);
    background: radial-gradient(circle, rgba(232,20,20,1) 0%, rgba(80,36,36,1) 55%, rgba(60,13,13,1) 97%);
}
#player3-piece {
    background: rgb(40,89,235);
background: radial-gradient(circle, rgba(40,89,235,1) 0%, rgba(6,32,94,1) 58%, rgba(6,25,96,1) 97%);
}
#player4-piece {
    background: rgb(102,126,125);
background: radial-gradient(circle, rgba(102,126,125,1) 4%, rgba(32,34,57,1) 67%, rgba(33,6,6,0.9864320728291317) 88%);
}
#player5-piece {
    background: rgb(233,16,123);
    background: radial-gradient(circle, rgba(233,16,123,1) 0%, rgba(109,11,117,1) 55%, rgba(41,3,23,1) 97%);
}
#player6-piece {
    background: rgb(0,194,195);
    background: radial-gradient(circle, rgba(0,194,195,1) 0%, rgba(27,99,102,1) 54%, rgba(9,4,46,1) 97%);
}
#player7-piece {
    background: rgb(238,146,25);
    background: radial-gradient(circle, rgba(238,146,25,1) 0%, rgba(117,50,11,1) 55%, rgba(34,26,3,1) 97%);
}
#player8-piece {
    background: rgb(212,212,212);
    background: radial-gradient(circle, rgba(212,212,212,1) 0%, rgba(246,246,246,1) 0%, rgba(255,255,255,0.9864320728291317) 93%);
}

#info {
    display: none;
    background-color: white;
    margin: auto;
    padding: 1px 0;
    height: 400px;
	width: 330px;
}

#alert {
    text-align: center;
    padding: 20px;
    height: 40px;
    width: 25%;
    margin: auto;
    font-size: 1.4em;
}

#player-list,
#turn-info,
#finance-box {
    display: none;
}

#player-list {
    width: 95%;
	height: 95%;
	margin: auto;
    padding: 4px;
    font-family: 'Lato';
    text-shadow: 0px 0px 0px #4E342E;
	top: 0;
}

#turn-info {
    position: relative;
    padding: 4px;
    background-color: white;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 0 2px #212121;
	height: 100%;
	width: 330px;
}

#finance-box {
    width: 18%;
    height: 920px;
    padding: 4px;
    margin: auto;
    float: right;
    vertical-align: right;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 2px #212121;
	top: 5px;
}

.opp-space {
    background: rgb(67,160,71);
    /*background: radial-gradient(circle, rgba(67,160,71,1) 97%, rgba(30,104,82,1) 100%);*/
}

.opp-space2 {
    background: rgb(28,60,0);
    background: radial-gradient(circle, rgba(28,60,0,1) 40%, rgba(7,36,1,1) 97%, rgba(4,38,10,1) 100%);

    /*background-color: #173200;/*554600; /*4E342E; 806D15*/

    /*background: rgb(23,50,0);
background: radial-gradient(circle, rgba(23,50,0,1) 40%, rgba(38,39,4,1) 97%, rgba(69,18,13,1) 100%);
*/
    opacity: .9;
}

.lia-space {
    background-color: #83A296; 
}

.cha-space {
    background: rgb(0,193,218);
 /*background: radial-gradient(circle, rgba(0,193,218,1) 0%, rgba(109,120,168,0.9864320728291317) 100%);
   */
}

.pay-space {
    background-color: #FDD835;
}

.off-space {
    background-color: #0277BD;
}

.kid-space {
    background-color: #FFB74D;
}

.dow-space {
    background-color: #D32F2F;
}

#player-list-table {
    font-color: white;
}

.table-row-player {
    text-align: left;
    font-weight: bold;
    color: #212121;
    padding: 0 5px 5px 5px;
    font-size: 14pt;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1pt double #F5F5F5;
}

#table-row-player1 {
    /*opacity: .8;
    color: white;
    background: rgb(20,232,85);
    background: radial-gradient(circle, rgba(20,232,85,1) 0%, rgba(38,85,66,1) 55%, rgba(15,66,46,1) 97%);
    */
}

#table-row-player2 {}

#table-row-player3 {}

#table-row-player4 {}

#table-row-player5 {}

#table-row-player6 {}

#table-row-player7 {}

#table-row-player8 {}

#dream-choices {
    display: block;
    height: 334px;
	margin: auto;
	width: 90%;
}

#dream-nav {
    width: 320px;
}

#dream-left-arrow {
    float: left;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 0px solid transparent;
    border-right: 40px solid gold;
    background-color: transparent;
    outline: none;
}

#dream-right-arrow {
    float: right;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 40px solid gold;
    border-right: 0px solid transparent;
    background-color: transparent;
    outline: none;
}

#dream-heading {
    position: static;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    font-family: "quattrocento";
    margin: auto;
    padding: 0 10px;
    color: #3E2723;
    text-shadow: .4px .4px 2px #c2a500;
    letter-spacing: 1.4px;
	width: 90%;
}

#dream-text {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'lato';
    color: #3E2723;
    padding: 4% 1%;
    text-shadow: 0px 0px 0px #c2a500;
}

#dream-description {
    display: block;
    font-family: "roboto";
    height: 35%;
    width: 90%;
    padding: 0 2%;
    margin: auto;
}

#dream-info {
    font-size: 1.2em;
    width: 88%;
}

#dream-des {
    font-size: .88em;
    font-family: 'lato';
    display: block;
    position: relative;
    padding: 2% 1%;
    color: #3E2723;
    margin-top: 5px;
}

#dream-choice-btn {
    position: relative;
    height: 50px;
    width: 135px;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    display: block;
    margin: 4% auto;
    padding: 5px;
    color: #3E2723;
    text-shadow: .5px .5px 2px #c2a500;
    font-size: 1.33em;
    font-weight: bold;
    font-family: "lato";
    letter-spacing: 1px;
}

#job-text {
    display: block;
    padding: 5px;
    width: 90%;
    margin: auto;
    font-family: 'lato';
    font-size: .92em;
    letter-spacing: .2px;
    font-weight: bold;
    color: #3E2723;
    margin-top: 5px;
}

#turn-info-box {
    height: 325px;
	width: 98%;
    padding: 5px;
}

#turn-instructions,
#finish-instructions,
#kid-card,
#charity-card,
#downsize-card,
#doodad-card,
#offer-card,
#lia-card,
#repay-card,
#borrow-card,
#repay-loan-card,
#pay-confirm-card,
#cannot-afford-card,
#cannot-afford-loan-card,
#deal-coin-card,
#deal-cd-card,
#deal-company-card,
#deal-personal-loan-card,
#deal-card-real-estate,
#deal-card-stock,
#deal-card-limited,
#deal-card-automated,
#ft-turn-instructions,
#ft-doodad-card,
#ft-opp-card,
#ft-cashflow-day,
#ft-finish-turn-card, 
#win-game-card {
    width: 90%;
    color: #263238;
    margin: auto;
}
#cannot-afford-card {
	
}
#fast-track-intro-card,
#fast-track-option-card {
	width: 92%;
	color: #263238;
    margin: auto;
}

#opp-card {
    width: 90%;
    color: #263238;
    margin: auto;
}

#opp-card p {
    color: #263238;
    bottom: 20%;
}

#deal-card-stock h2 {
    text-align: center;
    font-size: 23px;
}

#bankrupt-game-over-card {
    color: #D32F2F;
    text-align: center;
    font-size: 1.6em;
}

#deal-stock-text,
#doodad-text,
#charity-text,
#child-text,
#deal-coin-description,
#deal-cd-description,
#deal-company-description,
#deal-company-rule,
#deal-personal-loan-description,
#deal-limited-description,
#deal-automated-description,
#offer-description,
#offer-rule1,
#offer-rule2,
#deal-re-rule,
#offer-settlement {
    margin: auto;
}
#doodad-text, 
#charity-text {
	font-size: 1.1em;
}
.share-amt-box {
	font-size: 1.2em;
}
#doodad-node {
	font-size: 1.1em;
}
.card-title {
    color: #4E342E;
    text-shadow: .2px .2px .2px #7DCEA0;
    font-weight: bold;
    width: 100%;
}

#repay-borrow-btns {
    margin: auto 0 auto 4.5%;
	width: 83%;
    padding: 6px;
    display: block;
}

#repay-btn {
    height: 29px;
    width: 80px;
    border-radius: 8px;
    background-color: #FDD835;
    outline: none;
    font-size: 12pt;
    font-weight: bold;
}

#borrow-btn {
    height: 32px;
    width: 80px;
    border-radius: 7px;
    background-color: #FDD835;
    outline: none;
    font-size: 12pt;
    font-weight: bold;
    float: right;
}

.card-btn {
    font-weight: bold;
    font-family: 'lato';
    color: #4E342E;
    text-shadow: .5px .5px .5px #7DCEA0;
    box-shadow: .4px .4px .5px #c2a500;
}

#card-btns {
	width: 90%;
	display: none;
	margin: auto;
}

#finish-turn-container {
	width: 90%;
    margin: auto;
}

#player-list-td {
	height: 473px;
}
#roll-info-container {
	width: 98px;
    border-radius: 5px;
    background-color: white;
    outline: none;
	font-weight: bold;
    font-size: 12pt;
    color: #757575;
	display: inline-block;
}
#roll-info {
	text-align: center;
	font-family: "Roboto", sans-serif;
}
#info-card-td {
	width: 100%;
}
#info-card-btns-td {
	height: 30%;
}

#info {
	width: 95%;
	position: relative;
}
#info-btns {
	height: 95%;
}

#roll-btn,
#ft-roll-btn {
    height: 40px;
    width: 92px;
    letter-spacing: .5pt;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16pt;
	margin: 7% 0;
}
#manual-dice-input {
	height: 100px;
	width: 100px;
	font-size: 28pt;	
	margin: 7% 0;
    display: none;
}
#roll2-btn,
#ft-roll2-btn {
    height: 60px;
    width: 92px;
    letter-spacing: .5pt;
    border-radius: 5px;
    background-color: white;
    outline: none;
    margin-bottom: 20px;
    font-size: 16pt;
	margin: 7% 0;
}
#ft-dream-roll-btn,
#ft-doodad-roll-btn {
    height: 40px;
    width: 92px;
    letter-spacing: .5pt;
    border-radius: 5px;
    background-color: white;
    outline: none;
    margin-bottom: 20px;
    font-size: 16pt;
	margin: 7% 0;
}
#end-turn-btn,
#ft-end-turn-btn {
    width: 92px;
	height: 60px;
	padding: 1% 0;
    border-radius: 5px;
    background-color: #AF6868 ;
	letter-spacing: 1.7pt;
	color: white;
    outline: none;
    font-size: 1.2em;
	margin: 7% 0;
	text-shadow: .5px .5px .5px rgb(242, 255, 91);
}
#pass-btn,
#show-offer-btn,
#no-loan-btn,
#done-btn,
#done-buy-sell-btn {
    height: 40px;
    width: 92px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
	margin: 7% 0;
}

#return-to-card-btn {
    height: 40px;
    width: 102px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
	margin: 7% 0;
}

#cancel-btn {
    height: 40px;
    width: 102px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
	margin: 7% 0;
}

#done-repay-btn {
    height: 40px;
    width: 92px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
	margin: 7% 0;
}

#big-deal-btn {
    height: 40px;
    width: 92px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16.5pt;
    letter-spacing: .5pt;
	margin: 7% 0;
}
#confirm-pay-btn {
    height: 40px;
    width: 100px;
    letter-spacing: .5pt;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 12pt;
	margin: auto;
}
#buy-opp-button,
#small-deal-btn,
#ds-pay-button,
#pd-pay-button,
#doodad-pay-button,
#take-out-loan,
#repay-loan-input,
#show-stock-form-btn,
#buy-stock-btn,
#buy-real-estate-btn,
#buy-business-btn,
#buy-coin-btn,
#show-stock-sell-form-btn,
#sell-stock-btn,
#ftic-ok-btn,
#ft-opp-buy-btn,
#ft-pass-btn {
    height: 40px;
    width: 92px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
	margin: 7% 0;
}

#buy-stock-btn {
	background-color: #43A047;
	color: white;
	text-shadow: 0.2px 0.2px 0.2px #FDD835;
}

#ft-enter-btn {
    height: 70px;
    width: 150px;
    border-radius: 6px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
    box-shadow: .6px .6px 2px #c2a500;
    text-shadow: .6px .6px 2px #c2a500;
    color: #4E342E;
	margin: auto;
	position: relative;
	display: block;
}

#confirm-settlement-btn {
    height: 40px;
    width: 104px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 12pt;
    letter-spacing: .5pt;
	color: white;
	text-shadow: .2px .2px .2px #FDD835;
	background-color: #43A047;
}

#borrow-loan-btn,
#take-out-loan {
    height: 40px;
    width: 112px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 15pt;
    letter-spacing: .5pt;
    font-weight: bold;
    font-family: 'lato';
    color: #004D40;
}
#borrow-offer-loan-btn {
    height: 40px;
    width: 92px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 15pt;
    letter-spacing: .5pt;
    font-weight: bold;
    font-family: 'lato';
    color: #004D40;
}

#charity-donate-btn {
    height: 40px;
    width: 92px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 14pt;
	margin: 7% 0;
}

#play-again-btn {
    height: 50px;
    width: 147px;
    border-radius: 5px;
    background-color: #4E342E;
    outline: none;
    font-size: 16pt;
    color: white;
    font-weight: bold;
}
#win-card-new-game-btn {
	height: 60px;
    width: 140px;
    border-radius: 6px;
    background-color: white;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
    box-shadow: .6px .6px 2px #c2a500;
    text-shadow: .6px .6px 2px #c2a500;
    color: #4E342E;
	margin: auto;
	position: relative;
	display: block;
}
#ft-win-continue-btn {
	height: 40px;
    width: 110px;
    border-radius: 6px;
	margin: auto;
	position: relative;
	display: block;
    outline: none;
    font-size: 16pt;
    letter-spacing: .5pt;
    box-shadow: .6px .6px 2px #c2a500;
	
	background-color: #43A047;
	color: white;
	text-shadow: 0.2px 0.2px 0.2px #FDD835;
}

#financial-statement-left,
#financial-statement-right {
    display: inline-block;
    height: 262px;
    width: 264px;
    vertical-align: top;
    padding: 5px;
}

#assets-liabilities-statement {
	height: 138px;
}

#summary-cash-title,
#summary-cash-title2,
#summary-cash {
    font-size: 16pt;
    letter-spacing: .5pt;
    color: #2E7D32;
    text-shadow: .5px .5px .4px #90C933;
}

#sum-td {
    font-size: 11pt;
    font-weight: 600;
    color: #000;
}

#summary-cash-title2 {
    text-align: left;
}

#sum-td-left {
    font-size: 11pt;
    font-weight: 600;
    color: #000;
    width: 140px;
}

#finance-summary {
    width: 254px;
}

#income-expense-progress {
    width: 95%;
    background-color: #546E7A;
	margin: auto;
	border-radius: 5px;
	box-shadow: .5px .5px .1px .5px #546E7A;
}

#income-expense-bar {
    width: 1%;
    height: 27px;
    background-color: #43A047;
}

#passive-income-count {
	font-size: 9pt; 
	margin: 4px auto; 
	width: 60%;
}

#income-table {
    display: block;
    width: 95%;
    overflow: auto;
}

#expense-table {
    display: block;
    width: 95%;
    padding-top: 2px;
    overflow: auto;
}
#asset-table tr {
    max-height: 28px;
}

#asset-table,
#liability-table {
    
    width: 95%;
    padding: 4px;
    vertical-align: bottom;
    overflow: auto;
    border-spacing: 0;
    height: fit-content;
    max-height: 324px
}

#income-table td {
	padding: 0 4px;
	height: 22px;
	border-bottom: 1px solid rgb(60, 179, 113);
    border-bottom: 1px solid rgba(60, 179, 113, .1);
}
#expense-table td {
	padding: 0 4px;
	height: 22px;
	border-bottom: 1px solid rgb(60, 179, 113);
    border-bottom: 1px solid rgba(60, 179, 113, .1);
}
#liability-table td {
	padding: 0 4px;
	height: 25px;
	border-bottom: 1px solid rgb(60, 179, 113);
    border-bottom: 1px solid rgba(60, 179, 113, .1);
}
#asset-table td {
	padding: 0 4px;
	height: 27px;
	border-bottom: 1px solid rgb(60, 179, 113);
    border-bottom: 1px solid rgba(60, 179, 113, .1);
}
#ft-statement {
    width: 250px;
    /*height: 112px;*/
    padding: 4px;
    vertical-align: bottom;
    overflow: auto;
    border-spacing: 0;
}
#ft-assets-body td {
	width: 85px;
}
#asset-table-header,
#lia-table-header, #ft-assets-table-header {
    float: left;
    color: #263238;
}

.lia-table-row {
    font-size: 10pt;
}

.assets-row {
    font-size: 10pt;
	border: 1pt solid transparent;
}

#asset-stock-title,
#asset-real-estate-title {
    font-size: 11pt;
}

.lia-table-right {

}

.table-title {
    font-weight: bold;
}

#income-row-head,
#expenses-row-head {
    float: left;
    color: #263238;
}

.income-row,
.expenses-row {
    font-size: 10pt;
    height: 12px;
    padding: 3px;
    border-spacing: 0;
}

#asset-table-inner-real-estate {
    width: 128px;
}

#player-salary-income {
    float: right;
}

#expenses-taxes {}

#summary-cash-title {
    float: left;
}

.lia-table-row:hover {
    background-color: #E8F5E9;
}

.assets-table-title {
    font-weight: bold;
    font-size: 10pt;
    max-height: 26px;
}

#buy-shares-form {
    width: 270px;
    margin: auto;
}

.share-amt-box {
    display: inline-block;
}

#share-amt-input,
#share-amt-input-sell {
    width: 85px;
    height: 25px;
    border: 1px solid #1B5E20;
    border-style: none none solid none;
    border-radius: 1px;
    font-size: 12pt;
}

#shares-input {
    width: 150px;
    display: inline-block;
}

#share-amt-btns {
    width: 100px;
    display: inline-block;
    position: relative;
}

#increase-shares,
#decrease-shares,
#increase-shares-sell,
#decrease-shares-sell  {
    background-color: #1B5E20;
    border: none;
    border-radius: 4px;
    color: #F0F4C3;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#loan-amt-btns {
	margin: auto;
	font-weight: bold;
	width: 80%;
	padding: 1%;
}
#increase-loan,
#decrease-loan {
	width: 30%;
    background-color: #1B5E20;
    border: none;
    border-radius: 3px;
    color: #F0F4C3;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}
#game-menu {
	display: none;
    border-radius: 5px;
    color: #757575;
}
.menu-btn/*,
#menu-new-game-btn,
#show-done-btn*/ {
    width: 60px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 9pt;
    color: #757575;
}
#menu-save-btn {
    display: none;
}
#roll-info-container {
	width: 98px;
    border-radius: 5px;
    background-color: white;
    outline: none;
	font-weight: bold;
    font-size: 12pt;
    color: #757575;
	display: inline-block;
}
#turn-info-- {
	font-weight: bold;
    font-size: 12pt;
}


.github-link {
    width: 100%;
    display: flex;
    margin-top: 4%;
    color: #757575;
    justify-content: center;
}
.github-link a {
    width: 50%;
    text-decoration: none;
    opacity: .5;
}
.github-link a:hover {
    opacity: 1;
    color: #504828;
}
.github-link a:visited {
    color: #757575;
}
