
@viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport, @-webkit-viewport {
  width: device-width ;
}

@media screen and (max-width: 320px) {
  body {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  body {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  body  {
    width: 480px ;
  }
}

body {
  width: 1140px;
  margin: auto;
}

#window {
  height: 700px;
  width: 100%;
  display: fixed;
  margin: auto;
  position: relative;
  font-family: "Roboto", sans-serif;
  padding: 25px;
  border-radius: 5px;
}
.hide {
  display: none;
}
#home-screen {
  padding: 0;
  display: block;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: auto;
}
#home-title {
  font-size: 125px;
  font-family: 'lato', serif;
  text-align: center;
  color: rgb(240, 202, 0);
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px #c2a500;
}
#home-play-button {
  height: 215px;
  width: 400px;
  font-size: 35pt;
  border: 5pt ridge #FDD835;
  border-radius: 11px;
  background-color: white;
  outline: none;
  color: #4E342E;
  box-shadow: 0px 0px 1px 1px #FDD835;
  margin: auto 33%;
}
#game-selection-screen {
  font-size: 40px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  padding: 0;
  width: 100%;
  height: 100%;
}
#new-room-button {
  height: 215px;
  width: 400px;
  font-size: 40px;
  border-radius: 11px;
  border: 5pt ridge #FDD835;
  background-color: white;
  outline: none;
  color: #3E2723;
  box-shadow: 0px 0px 1px 1px #FDD835;
  margin: auto 33%;
}
#setup-screen {
  color: white;
  display: none;
  background-image: url('https://res.cloudinary.com/roden/image/upload/v1500650764/Ny/pexels-photo-499616_sljyii.jpg');
  width: 100%;
  height: 100%;
}
#setup-container {
  margin: auto;
  padding: 10% 36%;
}
#player-setup-container {
  box-shadow: 0px 0px 1px 1px #FDD835;
  width: 245px;
  height: 360px;
  border-radius: 5px;
  border: 3pt ridge #FDD835;
  padding: 25px;
  color: #FAFAFA;
  background-color: #4E342E;
  opacity: .99;
}
#game-selection-screen,
#game-setup-screen,
#setup-screen,
#turn-info-box {
  display: none;
}
#player-number-option {
  font-weight: 500;
  font-size: 20pt;
  width: 350px;
  height: 60px;
}
#player-number {
  box-shadow: 0px 0px 2px 2px #FDD835;
  background-color: #4E342E;
  height: 35px;
  width: 40px;
  font-size: 18pt;
  color: white;
  border: 1pt ridge #FDD835;
  border-radius: 3px;
}
.player-input {
  font-familiy: 'roboto';
  font-size: 14pt;
}
#start-game {
  height: 70px;
  width: 244px;
  border-radius: 4px;
  background-color: white;
  outline: none;
  font-size: 22pt;
  color: #4E342E;
  border: 2pt ridge #FDD835;
  font-weight: 500;
  box-shadow: 0px 0px 1px 1px #FDD835;
}
#player1name,
#player2name,
#player3name,
#player4name,
#player5name,
#player6name,
#player7name,
#player8name {
  font-family: 'roboto';
  font-size: 14pt;
  width: 142px;
  padding: 4px 8px;
  font-weight: 600;
  color: #4e342e;
}
#board-container {
  margin: auto;
  padding: 0;
  height: 600px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#board {
  display: none;
  margin: auto;
  border: 2pt solid white;
  height: 265px;
  width: 1136px;
}
#board2 {
  display: none;
  margin: auto;
  border: 2pt solid white;
  height: 600px;
  width: 1136px;
}
.cell {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  color: white;
  height: 90px;
  width: 110px;
  font-size: 8pt;
  letter-spacing: .2pt;
  text-align: center;
}
.cell2 {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  color: white;
  height: 90px;
  width: 120px;
  font-size: 8pt;
  letter-spacing: .2pt;
  text-align: center;
}
.cell2-left {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  color: white;
  height: 90px;
  width: 120px;
  font-size: 8pt;
  letter-spacing: .2pt;
  text-align: center;
  border: 2pt solid;
}
.cell2-right {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 0px;
  color: white;
  height: 90px;
  width: 120px;
  font-size: 8pt;
  letter-spacing: .2pt;
  text-align: center;
  border: 2pt solid;
}
.cell2-center {
  position: relative;
  padding: 0px;
  color: #01030e;
  height: 90px;
  width: 6900px;
  font-size: 8pt;
  letter-spacing: .2pt;
  text-align: center;
  border: 2pt solid white;
}
.cellx {
  position: absolute;
  bottom: 0;
  padding: 2px;
  height: 40px;
  width: 82px;
  text-align: center;
}
#tokenSection0,
#tokenSection1,
#tokenSection2,
#tokenSection3,
#tokenSection4,
#tokenSection5,
#tokenSection6,
#tokenSection7,
#tokenSection8,
#tokenSection9,
#tokenSection10,
#tokenSection11,
#tokenSection12,
#tokenSection13,
#tokenSection14,
#tokenSection15,
#tokenSection16,
#tokenSection17,
#tokenSection18,
#tokenSection19,
#tokenSection20,
#tokenSection21,
#tokenSection22,
#tokenSection23 {
  display: block;
  height: 60px;
  width: 75px;
  /*border: 1pt dashed white;*/
}
.board-top {
  border: 2pt solid;
  position: relative;
}
.board-bot {
  border: 2pt solid;
  position: relative;
}
#player1-piece,
#player2-piece,
#player3-piece,
#player4-piece,
#player5-piece,
#player6-piece,
#player7-piece,
#player8-piece {
  display: block;
  height: 10px;
  width: 32px;
  margin: 2px;
  box-shadow: 0 0 0 0;
  position: relative;
  text-align: center;
  color: gold;
  font-weight: bold;
  font-size: 6pt;
}
#player1-piece {
  background-color: #0091EA;
  border: 1.5pt ridge gold;
}
#player2-piece {
  background-color: #B71C1C;
  border: 1.5pt ridge gold;
}
#player3-piece {
  background-color: #40C4FF;
  border: 1.5pt ridge gold;
}
#player4-piece {
  background-color: #FFF59D;
  border: 1.5pt ridge gold;
}
#player5-piece {
  background-color: #00E676;
  border: 1.5pt ridge gold;
}
#player6-piece {
  background-color: #90A4AE;
  border: 1.5pt ridge gold;
}
#player7-piece {
  background-color: #EC407A;
  border: 1.5pt ridge gold;
}
#player8-piece {
  background-color: #AD1457;
  border: 1.5pt ridge gold;
}
#info {
  display: none;
  background-color: white;
  margin: auto;
  padding: 7px 0;
  height: 414px;
  width: 1135px;
}
#player-list,
#turn-info,
#finance-box {
  display: none;
}
#player-list {
  height: 366px;
  width: 175px;
  vertical-align: top;
  padding: 3px;
  font-family: 'Montserrat';
}
#turn-info {
  width: 328px;
  height: 410px;
  position: relative;
  padding: 0 10px;
  background-color: white;
  margin: auto 5px;
  border-radius: 6px;
  box-shadow: 0 0 8px #212121;
}
#finance-box {
  width: 566px;
  height: 410px;
  padding: 0 4px;
  margin-right: 8px;
  float: right;
  vertical-align: right;
  position: relative;
  box-shadow: 0 0 8px #212121;
  border-radius: 6px;
}
.opp-space {
  background-color: #43A047;
}
.lia-space {
  background-color: #546E7A;
}
.cha-space {
  background-color: #00BCD4;#26C6DA;
}
.pay-space {
  background-color: #FDD835;
}
.off-space {
  background-color: #0277BD;
}
.kid-space {
  background-color: #FFB74D;#C51162;#EC407A;
}
.dow-space {
  background-color: #D32F2F;
}
#player-list-table {
  width: 176px;
  font-color: white;
}
.table-row-player {
  text-align: left;
  font-weight: bold;
  color: #212121;
  padding: 1px 5px;
  font-size: 15pt;
  height: 32px;
  background-color: white;
  border-radius: 4px;
}
#table-row-player1 {
}
#table-row-player2 {
}
#table-row-player3 {
}
#table-row-player4 {
}
#table-row-player5 {
}
#table-row-player6 {
}
#table-row-player7 {
}
#table-row-player8 {
}
#dream-choices {
  display: block;
  height: 300px;
  width: 310px;
}
#dream-nav {
  width: 320px;
}
#dream-left-arrow {
  float: left;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
  border-right: 40px solid gold;
  background-color: transparent;
  outline: none;
}
#dream-right-arrow {
  float: right;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid gold;
  border-right: 0px solid transparent;
  background-color: transparent;
  outline: none;
}
#dream-heading {
  position: static;
  text-align: center;
  font: 18pt bold;
  font-family: "roboto";
  margin: auto;
  padding: 0 20px 0 10px;
}
#dream-description {
  display: block;
  font-family: "roboto";
  height: 110px;
  width: 264px;
  padding: 0 25px;
  margin: auto;
}
#dream-text {
  font-size: 14pt;
  font-weight: 'bold';
}
#dream-info {
  font-size: 15pt;
  width: 270px;
  height: 100px;
}
#dream-des {
  font-size: 11pt;
  font-family:'roboto';
  margin: 5px 0;
  display: block;
  position: relative;
}
#dream-choice-btn {
  position:relative;
  height: 40px;
  width: 125px;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  display: block;
  margin: auto;
  padding: 5px;
  color: #3E2723;
  font-size: 14pt;
  font-weight: bold;
  font-family: "roboto";
}
#job-text {
  padding: 5px;
  height: 100px;
  width: 260px;
  margin: auto;
}
#turn-info-box {
  height: 300px;
  width: 310px;
  padding: 7px;
}
#turn-instructions,
#finish-instructions,
#kid-card,
#charity-card,
#downsize-card,
#lia-card,
#repay-card,
#borrow-card,
#deal-coin-card,
#deal-cd-card,
#deal-company-card,
#deal-personal-loan-card,
#deal-card-limited,
#deal-card-automated {
  width: 312px;
  color: #263238;
  margin: auto;
}
#opp-card {
  width: 312px;
  color: #263238;
  margin: auto;
}
#opp-card p {
  color: #263238;
  bottom: 20%;
}
#deal-card-stock h2 {
  width: 312px;
  text-align: center;
  font-size: 23px;
}
#bankrupt-game-over-card {
  color: #D32F2F;
  text-align: center;
  font-size: 1.6em;
}
#deal-stock-text,
#doodad-text,
#charity-text,
#child-text,
#deal-coin-description,
#deal-cd-description,
#deal-company-description,
#deal-company-rule,
#deal-personal-loan-description,
#deal-limited-description,
#deal-automated-description,
#offer-description,
#offer-rule1,
#offer-rule2,
#deal-re-rule,
#offer-settlement {
  width: 300px;
  margin: auto;
}
.card-title {
  color: #263238;
  font-weight: bold;
  width: 300px;
}
#repay-borrow-btns {
  margin: auto 0;
  width: 260px;
  padding: 6px;
  display: block;
}
#repay-btn {
  height: 30px;
  width: 75px;
  border-radius: 7px;
  background-color: gold;
  outline: none;
  font-size: 12pt;
  font-weight: bold;
}
#borrow-btn {
  height: 30px;
  width: 75px;
  border-radius: 7px;
  background-color: gold;
  outline: none;
  font-size: 12pt;
  font-weight: bold;
  float: right;
}
.card-btn {
  font-weight: bold;
  font-family: 'lato';
  color: #004D40;
}
#card-btns,
#finish-turn-container {
  height: 60px;
  width: 292px;
  margin: auto 0;
  padding: 7px;
  display: block;
}
#end-turn-btn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 14.5pt;
  float: right;
}
#pass-btn,
#show-offer-btn,
#no-loan-btn {
  height: 40px;
  width: 92px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
  float: right;
  letter-spacing: .5pt;
}
#done-btn,
#done-buy-sell-btn {
  height: 40px;
  width: 92px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
  float: right;
  letter-spacing: .5pt;
}
#cancel-btn {
  height: 40px;
  width: 102px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
  float: right;
  letter-spacing: .5pt;
}
#done-repay-btn {
  height: 40px;
  width: 92px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
  float: right;
  letter-spacing: .5pt;
}
#big-deal-btn {
  height: 40px;
  width: 92px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16.5pt;
  float: right;
  letter-spacing: .5pt;
}
#roll-btn {
  height: 40px;
  width: 92px;
  letter-spacing: .5pt;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
}
#roll2-btn {
  height: 40px;
  width: 108px;
  letter-spacing: .5pt;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
}
#confirm-pay-btn {
  height: 40px;
  width: 124px;
  letter-spacing: .5pt;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
}
#buy-opp-button,
#small-deal-btn,
#ds-pay-button,
#pd-pay-button,
#doodad-pay-button,
#take-out-loan,
#repay-loan-input,
#show-stock-form-btn,
#buy-stock-btn,
#buy-real-estate-btn,
#buy-business-btn,
#buy-coin-btn,
#show-stock-sell-form-btn,
#sell-stock-btn {
  height: 40px;
  width: 92px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
  letter-spacing: .5pt;
}
#confirm-settlement-btn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16pt;
  letter-spacing: .5pt;
}
#borrow-loan-btn,
#take-out-loan,
#borrow-offer-loan-btn {
  height: 40px;
  width: 110px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 15pt;
  letter-spacing: .5pt;
  font-weight: bold;
  font-family: 'lato';
  color: #004D40;
}
#charity-donate-btn {
  height: 40px;
  width: 92px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 14pt;
}
#play-again-btn {
  height: 50px;
  width: 147px;
  border-radius: 5px;
  background-color: #D32F2F;
  outline: none;
  font-size: 16pt;
  color: white;
  font-weight: bold;
}
#financial-statement-left,
#financial-statement-right {
  display: inline-block;
  height: 262px;
  width: 264px;
  vertical-align: top;
  padding: 5px;
}
#summary-cash-title, #summary-cash-title2, #summary-cash {
  font-size: 16pt;
  letter-spacing: .5pt;
  color: #2E7D32;

}
#sum-td {
  font-size: 11pt;
  font-weight: 600;
  color: #000;
}
#summary-cash-title2 {
  text-align: left;
}
#sum-td-left {
  font-size: 11pt;
  font-weight: 600;
  color: #000;
  width: 140px;
}
#finance-summary {
  width: 254px;

}
#income-expense-progress {
  width: 100%;
  background-color: #546E7A;
}
#income-expense-bar {
  width: 1%;
  height: 27px;
  background-color: green;
}
#income-table {
  display: block;
  height: 128px;
  width: 264px;
  overflow: auto;
}
#expense-table {
  display: block;
  height: 128px;
  width: 264px;
  padding-top: 2px;
  overflow: auto;
}

#asset-table,
#liability-table {
  display: inline-block;
  width: 264px;
  height: 112px;
  padding: 4px;
  vertical-align: bottom;
  overflow: auto;
  border-spacing: 0;
}
#asset-table-header, #lia-table-header {
  float: left;
  color: #263238;
}
.lia-table-row {
  font-size: 11pt;
}
.assets-row {
  font-size: 10pt;
}
#asset-stock-title, #asset-real-estate-title {
  font-size: 11pt;
}
.lia-table-right {
  float: right;
}
.table-title {
  font-weight: bold;
}
#income-row-head,
#expenses-row-head {
  float: left;
  color: #263238;

}
.income-row,
.expenses-row {
  font-size: 10pt;
  height: 12px;
  padding: 3px;
  border-spacing: 0;
}
#asset-table-inner-real-estate {
  width: 128px;
}

#player-salary-income {
  float: right;
}
#expenses-taxes {
}
#summary-cash-title {
  float: left;
}
.lia-table-row:hover
{
  background-color: #E8F5E9;
}
.assets-table-title {
  font-weight: bold;
  font-size: 10pt;
}
#buy-shares-form {
  width: 270px;
  margin: auto;
}
.share-amt-box {
  display: inline-block;
}
#share-amt-input,
#share-amt-input-sell {
  width: 55px;
  height: 25px;
  border: 1px solid #1B5E20;
  border-style: none none solid none;
    border-radius: 1px;
  font-size: 12pt;
}
#shares-input {
  width: 150px;
  display: inline-block;
}
#share-amt-btns {
  width: 100px;
  display: inline-block;
  position: relative;
}
#increase-shares, #decrease-shares {
  background-color: #1B5E20;
    border: none;
  border-radius: 4px;
    color: #F0F4C3;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#increase-loan, #decrease-loan {
  background-color: #1B5E20;
    border: none;
  border-radius: 3px;
    color: #F0F4C3;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#reset-btn {
  height: 25px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 9pt;
  color: #757575;
}
